@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
.main-heading{
    font-size: 2rem;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    input,button{
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        background: #c7fae8;
    }
    input{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    button{
        cursor: pointer;
        color: #1D1941;
        background: #c7fae8;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    button:hover{
        background: #302b58;
        color: #c7fae8;
    }
}
.tweet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .message-list{
        list-style: none;
        min-width: 24%;


    }
    .tweet-message{
        padding: 0.5rem 1rem;
    }
    .message{
        margin: 1rem;
        background: #453f79;
        color: white;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.5rem;
        padding: .5rem;
        li{
            flex: 1;
        }
        button{
            background: #282354;
            color: white;
            border: none;
            margin-left: 0.2rem;
            padding: 0.5rem;
            border-radius: 2rem;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}